@import "tailwindcss";
@theme{
    --color-primary: #F53838;
    --color-secondary: rgba(245, 56, 0.35);
    --color-primary-text: #4F5665;
    --color-heading-text: #0B132A;
}


.section-container {
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;  /* px-4 */
    padding-right: 1rem; /* px-4 */
    padding-top: 4rem;   /* py-24 */
    padding-bottom: 4rem; /* py-24 */
}
.swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    background: #DDE0E4;
    opacity: 1;
    margin: 0 5px !important;
}
.swiper-pagination-bullet-active{
    background: #F53838;
    opacity: 1;
    transform: scale(1.2);
}
.swiper-button-prev::after, .swiper-button-next::after{
    content: " " !important;
}